pb.localhost {
	reverse_proxy localhost:8090
}

pocketbase.localhost {
	reverse_proxy localhost:8090
}

smtp.localhost {
	reverse_proxy localhost:3000
}
redis.localhost {
	reverse_proxy localhost:8001
}

app.localhost {
	reverse_proxy localhost:5050
}
jupyter.localhost {
	reverse_proxy localhost:10000
}
