pblocal.localhost {
	reverse_proxy pocketbase:8090
}

smtp.localhost {
	reverse_proxy smtp4dev:80
}
ansible.localhost {
	reverse_proxy semaphore:3000
}
redis-local.localhost {
	reverse_proxy redis:8001
}

jupyter.localhost {
	reverse_proxy localhost:10000
}

