:80 {
	# log {
	# 	output stdout
	# 	# format single_field common_log
	# }
	handle_path /smtp4dev/* {
		# reverse_proxy api:3000
		reverse_proxy smtp4dev:80
		# header {
		# 	Access-Control-Allow-Origin *
		# }
	}

	reverse_proxy landing:80
}
