:80 {
	handle_path /nginx {
		reverse_proxy nginx:80
	}
	handle_path /redis-stack {
		reverse_proxy redis:8001
	}
	handle {
		header Content-Type text/html
		respond "<h1>Hello from Docker Caddy</h1>"
	}
}
